#con
{
margin-right:auto;
margin-top:0px;
margin-left:auto;
margin-bottom:25px;
width:40%;
padding:100px;
text-align:center;
border:5px dashed pink;
border-radius:50px;
}
#con:hover
{
opacity:0.9;
transform:transiateY(-2.5%);
box-shadow:0 0 15px 0 white;
}
h1
{
font-size:50;
text-align:center;
margin-top:80px;
color:yellow;
margin-bottom:10px;
}
strong
{
font-size:25;
color:white;
}
input
{
margin-bottom:30px;
height:25px;
width:45%;
border-radius:50px;
}
select
{
margin-bottom:30px;
height:25px;
width:45%;
border-radius:50px;
}
input:hover
{
opacity:0.9;
transform:transiateY(-2.5%);
box-shadow:0 0 15px 0 yellow;
}
select:hover
{
opacity:0.9;
transform:transiateY(-2.5%);
box-shadow:0 0 15px 0 yellow;
}
button
{
width:20%;
color:white;
font-size:20;
cursor:pointer;
background-color:purple;
border-radius:50px;
font-family:Calisto MT;
margin-bottom:30px;
}
button:hover
{
opacity:0.9;
transform:transiateY(-2.5%);
box-shadow:0 0 15px 0 yellow;
}
#display
{
width:200px;
color:white;
}
